.forgottenPasswordContainer {
  display: block;
  background-color: rgba(225, 220, 220, 0.946);
  border-radius: 2%;
  height: auto;
  width: auto;
  align-content: center;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.forgottenPasswordTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 15px;
}

.forgottenPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emailPasswordContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fpTexte {
  margin-bottom: 30px;
}

.emailPasswordLabel {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 12px;
  width: 100%;
}

.inputForgottenPasswordForm {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.inputNewForgottenPassword {
  width: 100%;
}

.homeLink {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0077cc;
  text-decoration: underline;
  font-size: 16px;
}

.successMessageForgotenPassword {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 1vh;
  border-radius: 5px;
  text-align: center;
}

.wrongEmailMessage {
  font-size: 15px;
  color: red;
}

button[type="submit"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005fa3;
}

@media only screen and (max-width: 600px) {
  .forgottenPasswordContainer {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .emailPasswordContainer,
  .emailPasswordLabel {
    font-size: 1.2rem;
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  .logoImg img {
    display: none;
  }
  .forgottenPasswordTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 15px;
    text-align: center;
  }
  
}

@media (max-width: 400px) {
  .logoImg img {
    display: none;
  }
}